<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.abhishekmadan.mysmartkitchen" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.DASH_BOARD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AddressDetailsActivity"
            android:parentActivityName=".activity.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />

        </activity>
        <activity android:name=".activity.Container"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.abhishek.mysmartkitchen.CONTAINER_ACTY"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <provider
            android:authorities="com.smartkitchen.db"
            android:name=".database.Database"
            android:exported="false"/>

        <service android:name=".service.GetDataService"/>

    </application>

</manifest>
